In [1]:
from pyspark.sql import SparkSession

In [2]:
import os

from dotenv import load_dotenv

load_dotenv()

SPARK_MASTER_ADDRESS = os.getenv("SPARK_MASTER_ADDRESS")

SPARK_MASTER_ADDRESS

'spark://spark:7077'

In [3]:
spark = SparkSession.builder \
    .master(SPARK_MASTER_ADDRESS) \
    .config("spark.jars", "https://storage.googleapis.com/hadoop-lib/gcs/gcs-connector-hadoop3-latest.jar") \
    .appName(f"notebook_spark") \
    .getOrCreate()

In [4]:
df = spark.read.parquet("gs://airflow4i_lake/raw/brand/carros/*")

In [5]:
df.write.mode("overwrite").parquet(
        f"gs://airflow4i_lake/trusted/brand/carros/", compression="snappy"
    )

In [9]:
df.tail(num=10)

[Row(codigo='125', nome='SSANGYONG'),
 Row(codigo='54', nome='Subaru'),
 Row(codigo='55', nome='Suzuki'),
 Row(codigo='165', nome='TAC'),
 Row(codigo='56', nome='Toyota'),
 Row(codigo='57', nome='Troller'),
 Row(codigo='58', nome='Volvo'),
 Row(codigo='59', nome='VW - VolksWagen'),
 Row(codigo='163', nome='Wake'),
 Row(codigo='120', nome='Walk')]